<table class="table mt-2">
	<thead>
		<tr>
			<th>Film Id </th>
			<th>SimilarFilm Id</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.OrderBy(x => x.FilmId))
		{
			<tr>
				<td>@item.FilmId</td>
				<td>@item.SimilarFilmId</td>
				<td>
					<div class="d-flex me-1 justify-content-end">
						<button class="btn btn-outline-danger rounded-0" @onclick="@(() => OnClick.InvokeAsync(new ClickReferenceModel(PageType.Delete, item.FilmId, item.SimilarFilmId)))">Delete</button>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>

@code {
	[Parameter] public List<SimilarFilmsDTO> Model { get; set; } = new();
	[Parameter] public EventCallback<ClickReferenceModel> OnClick { get; set; }
}
